<div class="lead card">
  <div class="media p-2">
    <a href="#">
      <img src="http://www.gravatar.com/avatar" class="mr-3" alt="...">
    </a>
    <div class="media-body">
      <h5 class="media-heading"><%= @question.email%></h5>
      <%= @question.body%>
      
      <div class="row mt-5">
        <div class="col-sm-8 col-sm-offset-2 media-container">
          <div>
            <button class="btn btn-success btn-xs mb-3" data-toggle="modal" data-target="#exampleModal">Add new ansers</button>
          </div>
          <%= render 'home/new_answer_form' %>
          <% @answers.map do |answer| %>
          <div class="media card mb-3 p-2 flex-row">
            <div class="media-left">
              <a href="#">
                <img src="http://www.gravatar.com/avatar" class="mr-3" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= answer.email%></h5>
              <div class="answer-time"><%= time_ago_in_words answer.created_at %> ago</div>
              <%= answer.body%>
            </div>
          </div>
          <% end %>
          <% if @answers.empty? %>
            <div class="alert alert-info">There are no answers yet</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



