<div class="lead well">
  <div class="media">
    <a href="#">
      <img src="http://www.gravatar.com/avatar" class="mr-3" alt="...">
    </a>
    <div class="media-body">
      <h5 class="media-heading"><%= @question.email%></h5>
      <%= @question.body%>
      
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div>
            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#exampleModal">Add new ansers</button>
          </div>
          <%= render 'home/new_answer_form' %>
          <% @answers.map do |answer| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="http://www.gravatar.com/avatar" class="mr-3" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"><%= answer.email%></h5>
              <div><%= time_ago_in_words answer.created_at %> ago</div>
              <%= answer.body%>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



